.item-container {
  width: 90vw;
  max-width: 40rem;
  background-color: hsl(235, 24%, 19%);
  color: hsl(236, 9%, 61%);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(236, 9%, 61%);
  align-items: center;
  position: relative;
}

.item {
  box-sizing: border-box;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.item-container:hover {
  cursor: pointer;
  color: hsl(236, 33%, 92%);
}
/* overflow-wrap: break-word; */
.task {
  width: 68vw;
  max-width: 33rem;
  overflow-wrap: break-word;
}
.done {
  text-decoration: line-through;
}
.close {
  position: absolute;
  right: 0;
}
@media (min-width: 1200px) {
  .close {
    opacity: 0;
  }
  .item-container:hover .close {
    opacity: 1;
  }
}
