.header--dark {
  width: 100vw;
  height: 25vh;
  background: url("../../asset/images/bg-mobile-dark.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  width: 90vw;
  max-width: 40rem;
  margin-top: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  letter-spacing: 1rem;
}
.icon {
  width: 30px;
  height: 30px;
  background: url("../../asset/images/icon-sun.svg");
  background-size: cover;
}
.icon:hover {
  cursor: pointer;
}
