.header {
  width: 100vw;
  height: 25vh;

  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.header-dark {
  background: url("../../asset/images/bg-mobile-dark.jpg");
  background-size: cover;
}
.header-light {
  background: url("../../asset/images/bg-mobile-light.jpg");
  background-size: cover;
}
.container {
  width: 90vw;
  max-width: 40rem;
  margin-top: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  letter-spacing: 1rem;
}
.icon {
  width: 30px;
  height: 30px;
}
.icon-light {
  background: url("../../asset/images/icon-moon.svg");
  background-size: cover;
}
.icon-dark {
  background: url("../../asset/images/icon-sun.svg");
  background-size: cover;
}
.icon:hover {
  cursor: pointer;
}
