.container {
  width: 90vw;
  max-width: 40rem;
  color: hsl(236, 9%, 61%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 15px 0;
}
.dark {
  background-color: hsl(235, 24%, 19%);
}
.light {
  background-color: white;
}
.container div {
  margin: 0 20px;
  cursor: pointer;
}
.hover-dark:hover,
.active-dark {
  color: hsl(236, 33%, 92%);
}
.hover-light:hover {
  color: hsl(235, 24%, 19%);
}
.active-light {
  color: hsl(233, 93%, 57%);
}
