.container {
  width: 90vw;
  max-width: 40rem;
  background-color: hsl(235, 24%, 19%);
  color: hsl(236, 9%, 61%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
}
.clear:hover {
  cursor: pointer;
  color: hsl(236, 33%, 92%);
}
