.container {
  width: 90vw;
  max-width: 40rem;
  color: hsl(236, 9%, 61%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
}
.dark {
  background-color: hsl(235, 24%, 19%);
}
.light {
  background-color: white;
}
.clear:hover {
  cursor: pointer;
}
.clear-dark:hover {
  color: hsl(236, 33%, 92%);
}
.clear-light:hover {
  color: hsl(235, 19%, 35%);
}
