.body-full {
  min-height: 100vh;
  position: relative;
}
.body--light {
  background-color: hsl(236, 33%, 92%);
}
.body--dark {
  background-color: hsl(235, 21%, 11%);
}
.footer {
  width: 100vw;
  position: absolute;
  bottom: 2px;
  text-align: center;
}
